<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="margin-inline: 300px; background-color: rgb(239, 235, 235);">   
  <div>
    <app-navbar></app-navbar>
  </div> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div style="margin-top: 50px; margin-inline: 30px;">
      <span class="navbar-brand" style="color: rgba(32, 90, 52, 0.852); font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;">To do List</span>
    <div>
      <igx-simple-combo class="combo" style="color: rgba(32, 90, 52, 0.852);"
            [data]="lData"        
            (selectionChanging)="selectChanging($event)"
            [(ngModel)]="todoListType"
            [type]="'border'"
        ></igx-simple-combo>
      
    </div>
      <div>
              <div class="card-body">
                  <form  (submit)="onSubmit()">
                      <div class="form-group">
                          <igx-input-group type="border" class="combo">
                              <input igxInput name="PlaceHolder" type="text" [(ngModel)]="titleToDo"/>
                              <label igxLabel for="PlaceHolder">PlaceHolder</label>
                              <igx-suffix>
                                  <div class="button-sample">
                                      <button igxRipple ><igx-icon family="material" style="background-color: white; background: fixed; border: 0px; color:rgba(32, 90, 52, 0.852)">add</igx-icon></button>
                                  </div>
                              </igx-suffix>
                          </igx-input-group>
                          
                      </div>
                  </form>
                  <div *ngIf="!!todoListType" class="navbar-brand" style="color: rgba(32, 90, 52, 0.852); font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;">
                    <div>{{ todoListType }}</div>
                </div>
                
                  <div *ngIf="todoService.todoList.length == 0" class="float-center" style="color: rgba(32, 90, 52, 0.852); font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;">No hay tareas de este tipo.</div>    
                  <div class="todoList">
                    <div class = "icon" >
                      
                        <ul class="list-group table" style="font-family: 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;" >
                        <li *ngFor="let todo of todoService.todoList"><input style="background-color: rgb(239, 235, 235); border: 0px; border-radius: 5px; font-size: 30px;"  type="checkbox" (change)="onChange(todo.id)">{{todo.title}} 
                          <div class="icon">
                            <span (click)='deleteTodo(todo.id)'><i style="color: red;background-color: rgb(239, 235, 235); border: 0px; border-radius: 5px; font-size: 30px;" class="fa-solid fa-trash">X</i></span>
                          </div>       
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
    </div>
    </nav>
</div>